<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js_practice</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    名前: <input type="text" v-model="name">
    コース: <input type="text" v-model="cource">
    受講期: <input type="text" v-model="acceptancePeriod"><br>
    <button v-on:click="addStudent">入力した生徒を追加する</button>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>コース</th>
          <th>受講期</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="student in students" v-bind:key="student.id">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.cource }}</td>
          <td>{{ student.acceptancePeriod }}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /#app -->

  <script src="js/main.js"></script>
</body>
</html>
